<div class="container-fluid">
  <header class="display-1">
    <h3>
      <strong>Profile de {{ user.username }}</strong> 
    </h3>
  </header>

    <div class="raw">
      <div>prénom : {{user.firstname}}</div>
      <div>nom : {{user.lastname}}</div>
      <div>mail : {{user.email}}</div>
    </div>
    <div class="raw">
    <h4>Adresse</h4>
      <div class="raw">
        <div>num : {{address.num}}</div>
        <div>rue : {{address.street}}</div>
        <div>ville : {{address.town}}</div>
        <div>pays : {{address.country}}</div>
      </div> 
    </div> 

</div> 

<div *ngIf="!present">
  <button (click)="userUpdate(currentUser.userId)" class="btn btn-info" style="margin-left: 10px">Renseigner votre addresse</button>
</div>