
<div class="container-fluid">
  <header class="display-1">
    <h3>
      <strong>Profile de {{user.username}}</strong> 
    </h3>
  </header>

    <div class="raw">
      <div>Prénom : {{user.firstname}}</div>
      <div>Nom : {{user.lastname}}</div>
      <div>Mail : {{user.email}}</div>
    </div>
    <div class="raw">
    <h4>Adresse</h4>
      <div class="raw">
        <div>N° : {{user.address.num}}</div>
        <div>Rue : {{user.address.street}}</div>
        <div>Ville : {{user.address.town}}</div>
        <div>Code Postal : {{user.address.postal}}</div>
        <div>pays : {{user.address.country}}</div>
      </div> 
    </div> 

</div> 


  <button (click)="userUpdate(id)" class="btn btn-info" style="margin-left: 10px">Renseigner ou mettre à jour votre addresse</button>
