
<div class="container-fluid">
  <header class="display-1">
    <h3>
      <strong>Profile de {{ user.username }}</strong> 
    </h3>
  </header>

    <div class="raw">
      <div>prénom : {{user.firstname}}</div>
      <div>nom : {{user.lastname}}</div>
      <div>mail : {{user.email}}</div>
    </div>
    <div class="raw">
    <h4>Adresse</h4>
      <div class="raw">
        <div>num : {{user.address.num}}</div>
        <div>rue : {{user.address.street}}</div>
        <div>ville : {{user.address.town}}</div>
        <div>pays : {{user.address.country}}</div>
      </div> 
    </div> 

</div> 


  <button (click)="userUpdate(id)" class="btn btn-info" style="margin-left: 10px">Renseigner ou mettre à jour votre addresse</button>
