<div class="card">
  <div class="card-header">Liste des images chargées</div>
  <ul
    class="list-group list-group-flush"
    *ngFor="let image of images"
  >
    <li *ngIf="!role" class="list-group-item">

      <p>{{ image.name }} 

      <button (click) = "imageDetail(image.id)" class="btn btn-info" style="margin-left: 10px">Voir et valider pour impression</button>
      </p>
    </li>
    <li *ngIf="role" class="list-group-item">

      <p>image : {{ image.name }}, proprietaire : {{image.customUserId}}

      <button (click) = "imageDetail(image.id)" class="btn btn-info" style="margin-left: 10px">ouvrir</button>
      </p>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>