
<div class="row">
  <div class="col-sm-6"><div class="card">
    <div class="card-header">Liste des images chargées</div>
      <ul  class="list-group list-group-flush" *ngFor="let image of imageIs">
        <li class="list-group-item">
          <p>{{ image.name }} </p>
          <button (click) = "imageDetail(image.id)" class="btn btn-info float-right" style="margin-left: 10px">Voir et valider pour impression</button>
        </li>
      </ul>
      
    </div>
  </div>
  <div class="col-sm-6"><div class="card">
    <div class="card">
      <div class="card-header">Vous avez  {{ imageCs.length}} objet(s) à imprimer</div>

      <ul class="list-group list-group-flush" *ngFor="let image of imageCs">
        <li class="list-group-item">
          <p>{{ image.name }},  
          <span>Quantité à imprimer</span> : <span>{{ image.quantity}}</span>
          </p>
          <button (click) = "validation(image.id)" class="btn btn-success float-right" style="margin-left: 10px"><i class="fa fa-check"></i></button>
          <button (click) = "annulChoise(image.id)" class="btn btn-info float-right" style="margin-left: 10px"><i class="fa fa-undo"></i></button>
        </li>
      </ul>
    </div>
    
  </div>
</div>