<div class="col-md-12">
<div class="card card-container p-5">
	<div class="text-center">
		<img
		id="profile-img"
		src="../assets/images/avatar.png"
		class="profile-img-card img-fluid w-10"
		/>
	</div>
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Surnom</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Surnom requis</div>
          <div *ngIf="username.errors.minlength">
            Le surnom doit avoir au moins 3 charactères
          </div>
          <div *ngIf="username.errors.maxlength">
            Le surnom ne doit pas dépasser 20 charactères
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="firstname">Prénom</label>
        <input
          type="text"
          class="form-control"
          name="firstname"
          [(ngModel)]="form.firstname"
          required
          minlength="2"
          maxlength="40"
          #firstname="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && firstname.invalid">
          <div *ngIf="firstname.errors.required">Prénom requis</div>
          <div *ngIf="firstname.errors.minlength">
            Le prénom doit avoir au moins 2 charactères
          </div>
          <div *ngIf="firstname.errors.maxlength">
            Le prénom ne doit pas dépasser 40 charactères
          </div>
        </div>
      </div>
            <div class="form-group">
        <label for="lastname">Nom</label>
        <input
          type="text"
          class="form-control"
          name="lastname"
          [(ngModel)]="form.lastname"
          required
          minlength="2"
          maxlength="40"
          #lastname="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && lastname.invalid">
          <div *ngIf="lastname.errors.required">Nom requis</div>
          <div *ngIf="lastname.errors.minlength">
            Le nom doit avoir au moins 2 charactères
          </div>
          <div *ngIf="lastname.errors.maxlength">
            Le nom ne doit pas dépasser 40 charactères
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">un email est requis</div>
          <div *ngIf="email.errors.email">
            Email invalide, le format doit être <i>john@doe.com</i>.
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="8"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Le mot de passe est requis</div>
          <div *ngIf="password.errors.minlength">
            le mot de passe doit comporter au moins 8 charactères, 1 majuscule, 1 minuscule, 1 nombre et 1 caractère spécial,
          </div>
        </div>
      </div>
      
      
      <div class="form-group">
        <div class="d-flex justify-content-center">
          <button class="btn btn-primary">Senregistrer</button>
        </div>
      </div>
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Echec de la création de votre compte: <br> <span>{{ errorMessage }}</span>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Votre compte à bien été créer!
    </div>
  </div>
</div>
