/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url("./assets/images/backgroundna.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  html,
  body {
    height: 100%;
    width: fit-content;
  }

}