<div class="card">
  <div class="card-header">image : {{ imageName }} </div>

    <li class="list-group-item" >
    <img [src]="image">
      <stl-model-viewer class="threedee" [stlModels]="['retrieveImage']"></stl-model-viewer>
  
      <stl-model-viewer [meshOptions]="[{position: {x: 2, y: 0, z: 0}}]" [stlModels]="['./assets/xwing.stl']"></stl-model-viewer>
   
      <button (click)="backToImageslist()" class="btn btn-info" style="margin-left: 10px">Retour aux images</button>
    </li>
  </div>
<button class="badge badge-danger mr-2" (click)="deleteFile(imageId)">
    Supprimer l'image
  </button>

  <div>
    <p>prix de la pièce : </p>
    <p>Quantité : </p>
    <p>Prix total : </p>
    <div *ngIf="role">
      <button class="badge badge-success mr-2" (click)="acceptPrice()">Accepter l'image</button>
    </div>
  </div>

