
<div class="container">

  <div class="card">
    <div class="card-header">
     Liste des factures à valider
    </div>
      <p class="none" *ngIf="isEmptyObject(bills)">Aucun devis</p>

      <ul class="card list-group list-group-flush" *ngFor="let bill of bills">
          <li class="card-body list-group-item">
            <h5 class="card-title">Facture N° {{ bill.id }}</h5>
            <p class="card-text">Nom : {{ bill.customUser.firstname }} {{ bill.customUser.lastname }} / Email : {{bill.customUser.email}}</p>
            <p class="card-text">Addresse : {{ bill.customUser.address.num }}, {{ bill.customUser.address.street }} - {{ bill.customUser.address.town }} {{ bill.customUser.address.postal }}</p>
            <span>(En cours à valider) </span>
            <button class="badge badge-success mr-2" (click)="validateCommande()">Valider la commande</button>
            <button class="badge badge-danger mr-2" (click)="rejectCommande()">Annuler la commande</button>
          </li>
      </ul>

 
    <p>{{ content }}</p>

</div>