
<div class="container row">


  <div class="col-6">
  <h3 class="text-center">Devis</h3>
    <div class="card-header">Liste des devis à envoyer</div>
      <p class="none" *ngIf="isEmptyObject(orders)">Aucun devis</p>
      <ul class="list-group list-group-flush" *ngFor="let order of orders;let i=index">
      <li class="list-group-item">
      <p> Impression : {{order.name}}</p>
      <p>Quantité à imprimer : {{order.quantity}}</p>
      <p>temps total d'impression : {{ order.timeToPrint}}</p>
      <p>Poids total : {{ order.totalWeight }} grs</p>
      <p>Prix total : {{ order.totalPrice }} €</p>
      <button (click) = "annulOrder(order.id, order.imageId)" class="btn btn-danger float-right" style="margin-left: 10px">Annuller</button>
      </li>
      </ul>
    </div>
  <div class="col-6">
  <h3 class="text-center">Commandes</h3>
    <div class="card-header">
      Commande
      <div class="card">
        <div class="card-body">
        <h5 class="card-title">Numéro de commande : </h5>
        <p class="card-text">Prix : </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
  <h3 class="text-center">Historique</h3>
      <div class="card-header">
      Anciennes commandes
   <div class="card">
        <div class="card-body">
        <h5 class="card-title">Commande du ?date</h5>
        </div>
      </div>
  </div>
  </div>
  </div>
  

