
<div class="row">
  <div class="col-sm-10"><div class="card">

    <div class="card-header">Liste des images à imprimer</div>
    <p *ngIf="images.length === 0">Aucune image à imprimer</p>
      <ul class="list-group list-group-flush" *ngFor="let image of images;let i=index">
        <li class="list-group-item">
          <p class="owner" *ngIf="i>0 && images[i-1].ownerName==image.ownerName?'':image.ownerName"> Client(id : {{image.userId}}) : 
          {{i>0 && images[i-1].ownerName==image.ownerName?'':image.ownerName}}</p>
          <p> image : {{i>0 && images[i-1].name==image.name?'':image.name}}</p>
          <p>Quantité à imprimer : {{image.quantity}}</p>
          <p>date : {{ image.date}}

          <button (click) = "printImage(image.id)" class="btn btn-info float-right" style="margin-left: 10px">ouvrir</button>
          </p>
        </li>
      </ul>
    </div>
  </div>
  
</div>
