.fond {
    background-color: antiquewhite;
}

.time {
    margin: 2rem;
    padding: 1rem;
    display: inline-block;
    background-color: black;
    color: #f0f8ff;
    border-radius: 0.5rem;
}

.line {
    display: inline-block;
}